body{
  display: flex;
  flex-direction: column;
  align-items : center;
  margin: 0;
  background-color: black;
}
h1{
  margin: 44px;
  color: red;
  font-size: 30px;
}
#monitor{
    color: #17fc03;
    background-color: black;
    font-size: 20px;
    width: 836px;
    height: 542px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 64px solid #202020;
}
#monitor::-webkit-scrollbar {
    display: none;
}
#credit{
  display: flex;
  align-items: center;
  height: 128px;
  font-size: 15px;
  color: white;
}
.cursor{
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-play-state: running;

}
.hide{
    visibility: hidden !important;
}
#hacker{
    display: inline;
    margin: 0;
    position: relative;
    z-index: 1;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
#password{
  color: #17fc03;
  background-color: black;
  font-size: 20px;
  outline: none;
  border: none;
  overflow: hidden;
}
#mobile{
  color: #17fc03;
  background-color: black;
  font-size: 20px;
  text-align: center;
  width: 836px;
  height: 542px;
  border : none;
  outline: none;
  resize: none;
  cursor: default;
  overflow-y: hidden;
  position: absolute;
  z-index: 2;
}
/*@media screen and (max-width: 900px) {
  #mobile{display: none;}
}*/
